@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Esto permite apilar el título y el menú en columna */
}

.principal_inicio {
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
       padding: 10px;

    }


.titulo_menucheck {
    position: absolute;
    left: 45%;
    top: 5%;
    font-size: 24px;
    color: #0D4D4D;
    margin-bottom: 20px; /* Añade un espacio entre el título y el menú */
}

.menu_iniciocheck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se envuelvan si no hay suficiente espacio */
    max-width: 600px; /* Limita el ancho del menú para mantenerlo centrado */
    padding: 10px;
}

.menu_iniciocheck button {
    background-color: #cb4335; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.menu_iniciocheck button:hover {
    background-color: #f1948a; /* Cambio de color al pasar el cursor */
    transform: translateY(-5px); /* Efecto de elevación */
}

.menu_iniciocheck button i {
    margin-right: 10px;
    font-size: 24px;
}

.menu_iniciocheck a {
    text-decoration: none;
    color: white;
}
